<nav>
  <div class="nav-logo">
    <img src="../../../assets/placeholders/logo-placeholder.png" alt="logo placeholder">
  </div>
  <div class="links">
    <span class="nav-link">{{ 'navbar.memes' | transloco }}</span>
    <span class="nav-link">Yoda</span>
    <span class="nav-link">Anime</span>
    <svg-icon 
      (click)="setLang('pl')"
      class="nav-icon" 
      [applyClass]="true" 
      name="pl">
    </svg-icon>
    <svg-icon 
      (click)="setLang('en')"
      class="nav-icon" 
      [applyClass]="true" 
      name="us">
    </svg-icon>
  </div>
</nav>