<div class="memes-content">
  <div class="meme" *ngIf="meme$ | async as vm; else loading">
    <div 
      class="meme-image">
      <img [src]="vm.url" alt="">
    </div>
    <div class="author-and-subreddit">
      <span class="author">
        {{ 'memes.author' | transloco }}: {{ vm.author }}
      </span>
    </div>
  </div>
  <ng-template #loading>
    <div class="meme loading">
      ...loading
    </div>
  </ng-template>
  <div class="choose-meme">
    <h3>{{ 'memes.choose-subreddit' | transloco }}:</h3>
    <div class="categories">
      <span
      *ngFor="let category of categories" 
      (click)="getMemeOfSpecifficCategory(category)"
      class="category-btn">
      /{{ category }}
    </span>
    </div>
  </div>
</div>