@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

@font-face {
  font-family: 'Warsaw Gothic';
  src: url('./assets/fonts/WarsawGothic.otf');
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('./assets/fonts/sofiapro-light.otf');
}

body {
  margin: 0px;
  color: #ffff;
  background-image: url('./assets/placeholders/background.jpg');
  font-family: 'Warsaw Gothic', cursive;
}

.views {
  background-color: rgb(18,24,27);
}

* {
  margin: 0px;
}

.text-highlight {
  color: var(--color-highlight);
}

.section {
  min-height: 100vh;
  box-sizing: border-box;
  padding: calc(30px + 60px) 20px 30px 20px;

  .section-title {
    font-size: 40px;
  }
  .section-desc {
    font-size: 25px;
    padding: 20px;
    border-bottom: 2px solid var(--color-highlight);
  }
}

// SCROLLBAR

::-webkit-scrollbar {
  width: 0px;
}

